services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_PROVIDER_URL: ${NEXT_PUBLIC_API_PROVIDER_URL:-http://localhost:6003}
    ports:
      - '6004:6004'